{% load i18n thumbnail %}
{% with carousel=item carousel_id=item.id slides=item.slides.all %}
<div id="carousel-{{ carousel_id }}" class="carousel slide block" data-interval="{{ carousel.interval }}" data-ride="{% if carousel.carousel %}carousel{% else %}false{% endif %}" data-keyboard="{{ carousel.keyboard|lower }}" data-pause="{% if carousel.pause %}hover{% else %}false{% endif %}" data-wrap="{{ carousel.wrap|lower }}">
  {% if carousel.has_indicators %}
    <ol class="carousel-indicators">
      {% for slide in slides %}
        <li data-target="#carousel-{{ carousel_id }}" data-slide-to="{{ forloop.counter0 }}"{% if forloop.first %} class="active"{% endif %}></li>
      {% endfor %}
    </ol>
  {% endif %}
  <div class="carousel-inner">
    {% for slide in slides %}
      <div class="carousel-item{% if forloop.first %} active{% endif %}">
        {% thumbnail slide.image carousel.crop_size upscale=False as thumb %}
          <img{% if carousel.image_css_class %} class="{{ carousel.image_css_class }}" {% endif %}src="{{ thumb.url }}" alt="{{ slide.title }}">
            {% if carousel.has_captions %}
              <div class="carousel-caption {{ carousel.caption_css_class }}">
                <h5>{{ slide.title }}</h5>
                <p>{{ slide.caption }}</p>
              </div>
            {% endif %}
        {% endthumbnail %}
      </div>
    {% endfor %}
  </div>
  {% if carousel.has_indicators %}
    <a class="carousel-control-prev" href="#carousel-{{ carousel_id }}" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">{% trans "Previous" %}</span>
    </a>
    <a class="carousel-control-next" href="#carousel-{{ carousel_id }}" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">{% trans "Next" %}</span>
    </a>
  {% endif %}
</div>
{% endwith %}