include LICENSE
include README.md
recursive-include blocks/static *.js *.css
recursive-include blocks/templates *.html
recursive-include blocks/locale *.mo
global-exclude __pycache__
global-exclude *.py[co]
recursive-include docs *
prune docs/_build
